body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d6984f;
    color: white;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-align: center;
}

main {
    max-width: 1500px;
    margin: 0 auto; /* Center the main content */
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 1rem;
}

#config-form {
    margin-bottom: 2rem;
}

#configuration-display ul {
    list-style-type: none; /* Removes the default bullet points */
    padding-left: 0; /* Removes any default padding */
}

#configuration-display li {
    margin-bottom: 5px; /* Adds some space between the list items */
}


/* Flexbox for the devices container */
#devices-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between; /* Ensure space is distributed evenly */
}

input[type="text"],
input[type="number"],
select {
    width: calc(50% - 0.5rem); /* Make input fields more compact */
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    box-sizing: border-box;
}

button {
    padding: 0.8rem 1.2rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #d6984f;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none; /* Ensure link text is styled like a button */
    cursor: pointer;
    margin: 10px auto; /* Center the button */
}

.btn-primary:hover {
    background-color: #bf7e33;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #d6984f;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px auto;
}

.btn-secondary:hover {
    background-color: #d6984f;
    color: white;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.btn-secondary:disabled {
    background-color: #b0b0b0; /* Grey background for disabled state */
    cursor: not-allowed;
    color: #e0e0e0; /* Lighter text color for disabled state */
}

#start-simulation-btn,
#stop-simulation-btn {
    flex: 1;
    margin: 0 0.5rem;
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.flashes li {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    border: 1px solid #f5c6cb;
}

/* Flexbox for devices in a row */
#devices-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next row if there are too many devices */
    gap: 1rem; /* Space between device blocks */
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: flex-start; /* Aligns items to the start of the container */
}

.device-block {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    flex: 1 1 20%; /* Flex-grow, flex-shrink, flex-basis; ensures blocks are 15% wide and grow/shrink accordingly */
    max-width: calc(23% - 1rem); /* Ensure no block exceeds 20% of container width */
    min-width: 15%; /* Maintain minimum width */
    box-sizing: border-box; /* Include padding in width calculation */
}

.device-block h3 {
    color: #d6984f;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.device-block input[type="text"], 
.device-block input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.device-block label {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    color: #333;
}

.device-block button {
    align-self: flex-end;
    margin-top: 0.5rem;
    background-color: #d6984f;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.device-block button:hover {
    background-color: #bf7e33; /* Slightly darker shade for hover effect */
}

.danger-button {
    background-color: #bf4c4c; /* A red color to indicate danger or deletion */
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 2rem;
}

.danger-button:hover {
    background-color: #a33b3b; /* Darker red for hover */
}

.simulation-status-wrapper {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    margin-top: 20px; /* Adds space above the status indicator */
}

.simulation-status-container {
    display: flex;
    align-items: center; /* Vertically centers the items */
    background-color: #f9f9f9;
    padding: 8px 12px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #dc3545; /* Default to Red (Inactive) */
    margin-right: 8px;
    transition: background-color 0.3s ease;
    border: 1px solid #ccc;
}

.status-indicator.active {
    background-color: #28a745; /* Green for Active */
}

.status-indicator.inactive {
    background-color: #dc3545; /* Red for Inactive */
}

.status-text {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.detector-actions {
    display: flex;
    justify-content: space-between; /* Position buttons side by side */
    gap: 10px; /* Space between the buttons */
    margin-top: 10px;
}

.remove-device-btn {
    margin-top: 15px; /* Space above the Remove Device button */
    display: block;
    width: 100%; /* Make the Remove Device button full width */
    text-align: center; /* Center the text inside the button */
}

.page-title {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #D3D3D3;
    background-color: #d6984f;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#request-stats p {
    display: flex;
    margin: 10px 0;  /* Increase the space between lines */
    font-size: 1rem; /* Adjust font size if necessary */
    background-color: #f9f9f9;
    padding: 8px 12px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}