body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #d6984f;
    color: white;
    padding: 0.5px;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: white;
}

.nav-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #d6984f; /* Bootstrap primary blue */
    color: white;
    text-decoration: none; /* Removes underline */
    border-radius: 5px; /* Rounded corners for a softer look */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
    margin-top: 20px;
    font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
    background-color: grey; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight raise effect on hover */
    color: #ffffff;
}

.nav-link:active {
    transform: translateY(1px); /* Slight push effect when clicked */
    background-color: white; /* Even darker blue for active state */
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    margin: 20px 0 20px;
    margin-top: 20 px;
}



select, input[type="text"], button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #d6984f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #6F6D6C;
}

#messages-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.info {
    background-color: #2196F3; /* Blue */
}

.success {
    background-color: #4caf50; /* Green */
    border: 1px solid #4caf50;
    font-size: 20px;
    color: white;
}

.warning {
    background-color: #FFC107; /* Yellow */
}

.error {
    background-color: #F44336; /* Red */
}

.page-title {
    font-size: 2em; /* Makes the font larger */
    color: white; /* A pleasant dark blue */
    font-family: 'Arial', sans-serif; /* Arial is widely supported and looks professional */
    text-align: center; /* Centers the title */
    margin-top: 20px; /* Adds space above the title */
    margin-bottom: 20px; /* Adds space below the title */
    padding: 10px; /* Adds padding inside the title area */
    border-bottom: 2px solid #D3D3D3; /* A subtle line under the title */
    background-color: #d6984f; /* A light grey background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    width: 50%; /* Controls the width of the title block */
    margin-left: auto; /* Together with the next line, centers the title block */
    margin-right: auto;
}

.button-container {
    text-align: center; /* Centers the buttons */
    margin-top: 20px;
}

.form-button {
    background-color: #d6984f; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="text"], input[type="password"] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
}


.button-container {
    text-align: center;
    margin-top: 20px;
}

.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.file-label {
    margin-right: 10px; /* Adds space between the label and the input */
    font-weight: bold;
}

input[type="file"] {
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f8f8f8;
}

form {
    margin: auto;
    width: 80%; /* Adjust as needed for your design */
    padding: 10px;
}

.radio-group {
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.radio-group input[type="radio"] {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.radio-group label {
    margin-right: 20px;
    font-weight: normal; /* Adjust the font style as needed */
    cursor: pointer;
}

#progress-container {
    display: none;
    width: 100%;
    background-color: black;
    margin-top: 20px;
}

#progress-bar {
    width: 0%;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
}

button:disabled, .button-disabled {
    background-color: grey;
    cursor: not-allowed;
}