body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d6984f;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: white;
}

.nav-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #d6984f; /* Button color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
    background-color: grey;
    transform: translateY(-2px);
    color: #ffffff;
}

.nav-link:active {
    transform: translateY(1px);
    background-color: white;
}

/* Main content layout */
.main-content {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    width: 100%;
}

/* Left section */
.left-section {
    flex: 1;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 2rem;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    max-width: 44%; /* Ensures the left section does not exceed 48% of the main content width */
}

/* Right section divided into two parts */
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    max-width: 52%; /* Ensures the right section does not exceed 48% of the main content width */
}

/* Each half section within the right section */
.half-section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 20px;
    text-align: center;
}

.half-section:last-child {
    margin-bottom: 0;
}

.section h2, .half-section h2 {
    color: #d6984f;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center; /* Center-align the header text */
}

.section p, .half-section p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center; /* Center-align the paragraph text */
}

.section-button {
    margin-top: 2rem;
}

.section-button a {
    background-color: #d6984f;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
}

.section-button a:hover {
    background-color: #bf7e33;
}

.note-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 0.9rem !important;
    color: #555 !important;
    line-height: 1 !important;
    padding: 0 !important;
    white-space: nowrap !important; /* Prevents unnecessary wrapping */
}

/* Additional reset to ensure no extra spacing */
.note-item em {
    font-style: italic !important;
    display: block !important; /* Force the notes to behave like block elements */
    margin: 0 !important; /* Remove any extra margins */
    padding: 0 !important; /* Remove any extra padding */
    line-height: 0.5 !important; /* Consistent line height */
}

.note-container {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1 !important;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    margin: 15px 0;
    margin-top: 20px;
}

select, input[type="text"], button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #d6984f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #6F6D6C;
}

#messages-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.info {
    background-color: #2196F3;
}

.success {
    background-color: #4caf50;
    border: 1px solid #4caf50;
    font-size: 20px;
    color: white;
}

.warning {
    background-color: #FFC107;
}

.error {
    background-color: #F44336;
}

.page-title {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #D3D3D3;
    background-color: #d6984f;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.form-button {
    background-color: #d6984f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="text"], input[type="password"] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.file-label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="file"] {
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f8f8f8;
}

form {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.radio-group {
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.radio-group input[type="radio"] {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.radio-group label {
    margin-right: 20px;
    font-weight: normal;
    cursor: pointer;
}

#progress-container {
    display: none;
    width: 100%;
    background-color: black;
    margin-top: 20px;
}

#progress-bar {
    width: 0%;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
}

button:disabled, .button-disabled {
    background-color: grey;
    cursor: not-allowed;
}

.custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.custom-radio input[type="radio"] + span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

input[type="radio"]:checked + span {
    background-color: #d6984f;
    box-shadow: 0 0 0 2px #d6984f;
}

input[type="radio"]:checked + span::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-radio label {
    font-size: 16px;
    color: #333;
    margin-left: 5px;
    margin-right: 15px;
}

input[type="radio"] {
    display: none;
}

