<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect to Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="page-title">Connect to a Controller</h1>
    <form action="{{ url_for('main.connect') }}" method="post">
        <label for="ip_address">IP Address:</label>
        <input type="text" name="ip_address" id="ip_address" required>
        <label for="username">Linux Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Linux Password:</label>
        <input type="password" name="password" id="password" required>
        <fieldset>
            <legend>Select File Source</legend>
            <div class="custom-radio">
                <input type="radio" name="file_source" value="active" id="active" required>
                <span></span>
                <label for="active">Get active high-res file</label>
            </div>
            <div class="custom-radio">
                <input type="radio" name="file_source" value="usb" id="usb">
                <span></span>
                <label for="usb">Get file from USB</label>
            </div>
            <div class="custom-radio">
                <input type="radio" name="file_source" value="sd_card" id="sd_card">
                <span></span>
                <label for="sd_card">Get file from SD_Card</label>
            </div>
        </fieldset>
        <div class="button-container">
            <button type="submit" class="form-button">Get File</button>
            <a href="{{ url_for('main.index') }}" class="form-button"> Back to Home </a>
        </div>
    </form>
</body>
</html>
