<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Resolution Data Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>High Resolution Data Reader</h1>
    </header>
    <nav>
        <a href="{{ url_for('main.upload') }}" class="nav-link">Upload a .db File</a> 
        <a href="{{ url_for('main.connect') }}" class="nav-link">Connect to a Controller</a>
    </nav>
    <main>
        <form action="{{ url_for('main.save') }}" method="post" enctype="multipart/form-data" id="save-form">
            <label for="data_format">File Export Format:</label>
            <div class="radio-group">
                <input type="radio" id="csv" name="data_format" value="csv" checked>
                <label for="csv">CSV</label>
            
                <input type="radio" id="excel" name="data_format" value="excel">
                <label for="excel">Excel</label>
            </div>
            <label for="filename">Choose Filename:</label>
            <input type="text" name="filename" id="filename" required>
            <button type="submit">Export to PC</button>
            <button onclick="window.location.reload(true);">Refresh Page</button>
        </form>
        <!-- <iframe id="hidden-iframe" name="hidden-iframe" style="display:none;"></iframe> -->
        <div id="messages-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
    </main>
</body>
</html>


