<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector Simulation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='simconfig_ui.css') }}">
    <script src="{{ url_for('static', filename='sim_script.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Detector Simulation</h1>
    </header>
    <main>
        {% if config %}
            <h2>Current Configuration</h2>
            <div id="configuration-display">
                {% for device in config['devices'] %}
                    <div class="device">
                        <h3>Device: {{ device.hostname }}</h3>
                        <ul>
                            {% for detector in device.detectors %}
                                <li>Detector {{ detector.detnumber }}: Volume {{ detector.volume }}, Occupancy {{ detector.occupancy }}, Frequency {{ detector.frequency }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <form id="config-form" action="{{ url_for('simulation.save_config') }}" method="post">
            <h2>Devices Configuration</h2>

            <div id="devices-container" class="devices-row">
                <!-- Device configuration blocks will be added here dynamically -->
            </div>

            <button type="button" id="add-device-btn" class="btn-primary">Add Device</button>
            <button type="submit" class="btn-primary">Save Configuration</button>
        </form>

        <form action="{{ url_for('simulation.clear_config') }}" method="post">
            <button type="submit" class="danger-button">Clear Configuration</button>
        </form>

        <div class="button-group">
            <button type="button" id="start-simulation-btn" class="btn-secondary">Start Simulation</button>
            <button type="button" id="stop-simulation-btn" class="btn-secondary">Stop Simulation</button>
        </div>

        <div id="messages-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
    </main>
</body>
</html>
